@{
    ViewBag.Title = "ConnectionFailed";
}

<div class="errormsg">
    <h4>Connection Failed!</h4>

    <img src="~/Images/meme.gif" alt="lol" height="150" width="150">

    <br /><br />

    @Html.ActionLink("Please try again!", "Index", "Connection")
</div>

